#mytable .shadow:hover {
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

#mytable table.data {
  height:100%;
  width:100%;
  table-layout:fixed;
}

#mytable table.data td {
  text-align: center;
  vertical-align: middle;
  width: 33.33%;
  height: 250px;
}

#mytable td img {
  max-height: 250px;
  max-width: 100%;
}

#mytable {
  height: 800px;
  width: 100%;
  overflow: auto;
}

#popup {
  position: relative;
  left: -11px;
}

#sidepanel {
  height: 825px;
  overflow: auto;
}

#figImage img {
  max-width: 100%;
}